img:not([alt]) {
    border: 5px dashed rgb(255, 0, 0);
}

body {
    font-family: $primary-typo;
    a {
        color: $primary-color-dark;
    }
}


/*carousel annimation*/


/*fin*/

#header {
    .nav-item {
        font-size: 5rem;
    }
    .nav-link {
        color: $primary-color-dark;
        font-size: 6em;
        color: inherit;
    }
}

#hero-row {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .hero_col {
        &-left {
            h1 {
                color: $primary-color-dark;
                font-size: 3.7em;
                font-weight: bold;
            }
            p {
                font-size: 1.2em;
            }
            button {
                @include button-general;
                #contact-btn {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero_img {
                width: 60%;
            }
        }
    }
}

#distributeur-logo {
    background-color: white;
}