img:not([alt]) {
    border: 5px dashed rgb(255, 0, 0);
}

body {
    font-family: $primary-typo;
    a {
        color: $primary-color-dark;
    }
}

#main {
    background-color: rgba(255, 255, 255, 0.671);
    z-index: 2;
}


/*carousel annimation*/


/*fin*/

.header {
    padding-left: 15%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    img {
        z-index: 1;
    }
    #navbarContent {
        padding-left: 4rem;
    }
    .nav-item {
        font-size: 2rem;
    }
    .nav-link {
        color: $primary-color-dark;
        &hover {
            color: $primary-color-typo;
        }
    }
}

#background {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: -1;
}

#hero-row {
    padding-top: 5rem;
    z-index: 2;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .hero_col {
        &-left {
            h1 {
                color: $primary-color-dark;
                font-size: 3.7em;
                font-weight: bold;
            }
            p {
                font-size: 1.2em;
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero_img {
                width: 60%;
            }
        }
    }
}

button {
    @include button-general;
    #contact-btn {
        color: white;
        text-decoration: none;
    }
    #savoir-btn {
        color: white;
        text-decoration: none;
    }
}

#distributeur-logo {
    background-color: white;
}

#products-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: $primary-color-dark;
        font-weight: 600;
    }
}