/*ANNIMATION CAROUSEL*/

@mixin background {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: -1;
}


/* cards*/

.cards {
    display: grid;
    position: relative;
    grid-template-columns: [col-02] 15em [col-03] 4rem [col-04] 15em [col-05] 4rem [col-06] 15em;
    grid-template-rows: [row-02] 16em [row-03] 9rem [row-04] 7rem [row-05] 9rem [row-06] 16em;
    grid-template-areas: " . . card1 . . " "card4 . card1 . card2" "card4 . . . card2" "card4 . card3 . card2" ". . card3 . .";
    #card1 {
        grid-area: card1;
    }
    #card2 {
        grid-area: card2;
    }
    #card3 {
        grid-area: card3;
    }
    #card4 {
        grid-area: card4;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 25vh;
            width: auto;
            object-fit: contain;
            padding-top: 2rem;
            padding-bottom: 2rem;
            width: 60%;
        }
        &-title {
            font-size: 2rem;
            color: $primary-color-dark;
            text-transform: uppercase;
        }
    }
}


/* active cards animation */

.card-text {
    display: none;
}

.card:active {
    background-color: $primary-color-dark;
    color: white;
    width: 200%;
    z-index: 1;
    height: 200%;
    p {
        font-size: 1.5rem;
    }
}

.card:active .card-text {
    display: block;
}

.card:active .card-img-top {
    filter: grayscale(1);
}

.card:active .card-title {
    color: white;
}


/* BUTTONS*/

@mixin button-general {
    display: inline;
    background-color: white;
    background: linear-gradient(54deg, $primary-color-dark 0%, $primary-color-light 100%);
    font-size: 2em;
    font-weight: 600;
    color: white;
    margin: 2rem auto 9rem auto;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    text-decoration: none;
}

@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}