/*ANNIMATION CAROUSEL*/

.background {
    position: absolute;
    &_header {
        top: -70%;
        right: -10%;
        width: 50%;
    }
    &_row2 {
        width: 50%;
        left: -5%;
    }
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: nones;
    &:visited {
        color: inherit;
    }
    &:hover {
        text-decoration: none;
    }
}

@mixin button-general {
    background: rgb(0, 155, 66);
    background: linear-gradient(54deg, rgba(0, 155, 66, 1) 0%, rgba(110, 193, 228, 1) 100%);
    font-size: 2em;
    color: white;
    margin: 2rem auto 9rem auto;
    padding: 0.7rem 2rem;
    border-radius: 10px;
}