/*VARIABLES*/


/*COULEURS*/

$primary-color-light: hsl(196, 96%, 55%);
$primary-color-dark: hsl(145, 96%, 29%);
$primary-color-typo: black;

/*desing-colors*/

$secondary-color: hsl(39, 100%, 95%);

/*yellowish*/

$secondary-color-light:hsl(338, 29%, 95%);

/*pinkish*/

$secondary-color-dark: hsl(36, 29%, 41%);

/*TYPOGRAPHIE*/

$primary-typo:'PT Sans',
sans-serif;