/*VARIABLES*/


/*COULEURS*/

$primary-color-light: black;
$primary-color-dark: hsl(5, 75%, 51%);
$primary-color-typo: black;

/*desing-colors*/

$secondary-color: rgb(80, 80, 80);

/*TYPOGRAPHIE*/

$primary-typo:'PT Sans',
sans-serif;

/*BACKGROUND IMAGE*/