@media (min-width: 577px){
    header{
        font-size: 5rem;
        nav{
            font-size: 3rem;
        }
    }
    
    .slider {
        height: 660px;
        overflow: hidden; 
        display: block;
        .sliders {
            width: calc(1250px * 3);
    
            animation: glisse 10s infinite;
            .slide {
                float: left; 
            }
        }       
    }

    .block__about{
        display: flex;
        
        flex-direction: row-reverse;
        position: relative;
        margin: 5%;
        &-text{
            opacity: 0.8;
            z-index: 1;
            position: absolute;
            text-align: center;
            font-size: 2rem;
            padding: 4rem;
            left: -10%;
            right: 50%;
            top: 10%;
            bottom: 10%;
            width: 70%;
            
            h3{
                font-size: 4rem;
            }
        }
    }

    #boutique{
        h2{
            font-size: 4rem;
        }
        .products{
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .block__product{
                width: 40%;
            }
        }
    }
    
    .product{
        font-size: 2.5rem;
        h4{
            font-size: 4rem;
        }
    }

}